/** Font **/
$font-body: 'Roboto', sans-serif;

/**Color**/
$color-loading: #1ab7c2;
$color-overlay: #212529;
$color-white: #ffffff;
$color-black: #000000;
$color-red: #ff0000;
$color-green: #008000;
$color-bg-header: #1488cc;
$color-bg-hover-header: #337ab7;
$color-item-dropdown: #777777;
$color-form-invalid: #dc3545;
$color-form-valid: #28a745;
$color-box-header: #212529;
$color-content: #ecf0f5;
$color-br-bt-box-header:  #ebedf2;
$color-bg-table-header: #b6dff7;
$color-border-table-header: #acd6ef;
$color-aliceblue: #f0f8ff;
$color-bg-selected-item: #4caf50;
$color-br-switch-checked: #4ed164;
$color-bg-switch: #dddddd;
$color-br-switch: #d9dadc;
$color-bg-input-disable: #e9ecef;
