<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Tin hot trong ngày
        | LDP Tool</title>
    <meta name="description" content="">
    <link rel="shortcut icon" href="http://newsbook.top/favicon.ico">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="static/css/style.css">

    <link rel="stylesheet" th:href="@{/css/app.css}" href="static/css/app.css">

    <style type="text/css">
        /* Chart.js */
        @-webkit-keyframes chartjs-render-animation {
            from {
                opacity: 0.99
            }

            to {
                opacity: 1
            }
        }

        @keyframes chartjs-render-animation {
            from {
                opacity: 0.99
            }

            to {
                opacity: 1
            }
        }

        .chartjs-render-monitor {
            -webkit-animation: chartjs-render-animation 0.001s;
            animation: chartjs-render-animation 0.001s;
        }
    </style>
</head>

<body>
    <div id="wrapper">

        <div class="container">

            <div class="row" uid="abc">
                <div class="col-md-12 col-sm-12">
                    <div class="news-top">
                        <div class="header-article">
                            <a class="lnk-top-img">
                                <img alt="Vitubi_Alltel" src="static/img/background.jpg"
                                    th:src="@{/img/background.jpg}">
                            </a>
                            <div class="agree">
                                <a href="sms:5226;?&amp;body=VN" class="btn btn-cmd vt"><span>Viettel</span></a><br><br>
                                <a href="sms:5226;?&amp;body=XN GM"
                                    class="btn btn-cmd mb"><span>Mobifone</span></a><br><br>
                                <a href="sms:5226;?&amp;body=HD" class="btn btn-cmd vn"><span>Vinaphone</span></a>
                                <!-- <button class="btn btn-primary">Test</button> -->
                            </div>
                        </div>


                        <div class="content mt-3 mb-5">
                            <p>Vitubi - Xem video HOT miễn phí 3G/4G. Sau khi đăng ký, quý khách sẽ nhận được tài khoản
                                đăng nhập dịch vụ. Qúy khách tiến hành đăng nhập để xem kho video nội dung đặc sắc, miễn
                                cước toàn bộ 3G/4G khi xem video.&nbsp;</p>

                            <p><span style="color:#c0392b"><strong>TB mạng Viettel, soạn VN gửi 5226</strong></span>
                                (5000đ/ngày, GH theo ngày). Để Hủy soạn Huy&nbsp;svip gửi 5226</p>

                            <p><span style="color:#c0392b"><strong>TB&nbsp;mạng Mobifone, soạn XN GH gửi
                                        5226</strong></span> (3000đ/ngày, GH theo ngày). Để Hủy soạn
                                Huy&nbsp;GT&nbsp;gửi 5226</p>

                            <p><span style="color:#c0392b"><strong>TB mạng Vina, soạn HD gửi 5226</strong></span>
                                (3000đ/ngày, GH theo ngày). Để Hủy soạn Huy HD&nbsp;gửi 5226</p>

                            <p>Hotline: 1900969691</p>
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="copyright mt-3 mb-5"></div>
        </div>

    </div>

    

    <!-- <script src="../static/js/app.js" th:src = "@{/js/app.js}"></script> -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-160055614-1');
    </script> -->
    <!-- <script src="static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script> -->
    <!-- <script src="static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script> -->
    <script>
        var tag = 'UID-14AFB79293A4-530770008';
    </script>
    <script src="static/js/landing-page.js" th:src="@{/js/landing-page.encrypt.js}"></script>
</body>

</html>